<div id="newProd">
    <label for="">Cargador de productos</label>
    <input id="name" type="text">
    <input id="description" type="text">
    <input id="price" type="text">
    <input id="quantity" type="text">
    <input id="thumbnail" type="text">
    <input id="code" type="text">
    <button  onclick="addProduct()">Agregar</button>

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
