<div >
    <ul>
        {{#each products}}
        <li >Item: {{this.item}}, Precio:  {{this.price}}, Stock: {{this.stock}}</li>
        <br>
        {{/each}}
        
    </ul>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/index.js"></script>